.Hand {
  user-select: none;
}

.Hand.bust .hand-row {
  text-decoration: line-through;
}

.hand-row {
  border: 1px red dotted;
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.hand-row.active {
  border: 2px green solid;
}
